<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crearAlumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <form [formGroup]="formulario" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating"#nombre type="text" class="form-control" formControlName="nombre" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apellido" labelPlacement="floating"#apellido type="text" class="form-control" formControlName="apellido" > </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Fecha" labelPlacement="floating"#fecha type="date" class="form-control" formControlName="fecha" > </ion-input>
      </ion-item>
      
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" >Agregar</ion-button>
        </ion-col>
      </ion-row>

    </form>

    <div>
      <h4>Degug Info</h4>
      <div>Modelo: {{formulario.value | json}}</div>

    </div>

    </ion-list>

</ion-content>
