<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado de Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let alumno of alumnos" >
      <ion-item>
        <ion-label>
          <h3>{{alumno.nombre + " " + alumno.apellido}}</h3>
          <p>{{alumno.fecha}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" [routerLink]="['/editar-alumnos/', alumno.id]" >
          Modificar
        </ion-item-option>
        <ion-item-option color="danger" (click)="borrar(alumno.id)">
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
