<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos de desarrollador</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datos developer </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abel Mamani</ion-card-title>
      <ion-card-subtitle>Licenciatura en sistemas</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>DNI: 46083288</ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
