<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Alumnos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Alumnos</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary">Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <form [formGroup]="formulario" (ngSubmit)="updateAlumno()">
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating"#nombre type="text" class="form-control" formControlName="nombre" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apellido" labelPlacement="floating"#apellido type="text" class="form-control" formControlName="apellido" > </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Fecha" labelPlacement="floating"#fecha type="date" class="form-control" formControlName="fecha" > </ion-input>
      </ion-item>
      
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" >Actualizar</ion-button>
        </ion-col>
      </ion-row>

    </form>
    </ion-list>